@model String
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post))
{
    <table>
        <tr>
            <td> Enter New Password</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td> Confirm Password</td>
            <td><input type="password" name="confirmpassword" /></td>
        </tr>
        <tr>
           <td></td>
            <td> <input type="submit" value="Change" /></td>
        </tr>
        <tr>
            <td></td>
            <td>@Model</td>
        </tr>
    </table>
}

