
@model  MVC.User

<table class="table-bordered">

    <h1 class="text-center"> <b> Wellcome your profile </b> </h1>
    <br>

    <div>
        firstname:@Model.firstname
    </div>

    <div>
        middlename:@Model.middlename
    </div>

    <div>
        lastname:@Model.lastname
    </div>


    <div>
        hiredate:@Model.hiredate
    </div>

    <div>
        birthdate:@Model.birthdate
    </div>

    <div>
        address:@Model.address
    </div>

    <div>
        phoneNo:@Model.phoneNo
    </div>





</table>


@Html.ActionLink("AllBooks", "AllBooks")

